	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="container">
	<div class="main-heading">
		<h2>Header</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

		<div>
		  <form action="#">
		  <div class="form-group mr1">
			    <label for="fname">First Name</label>
			    <input type="text" id="fname" name="firstname" placeholder="Your Name">
		   </div>

		   <div class="form-group ml1">
			    <label for="lname">Last Name</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Last Name">
			</div>

			  <div class="form-group-full">
			    <label for="lname">Company</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Company Name">
			</div>

			 <div class="form-group mr1">
			    <label for="fname">Email 1</label>
			    <input type="text" id="fname" name="firstname" placeholder="Your Email 1">
		   </div>

		   <div class="form-group ml1">
			    <label for="lname">Email 2</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Email 2">
			</div>

			 <div class="form-group mr1">
			    <label for="fname">Phone 1</label>
			    <input type="text" id="fname" name="firstname" placeholder="Your Phone 1">
		   </div>

		   <div class="form-group ml1">
			    <label for="lname">Phone 2</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Phone 2">
			</div>

			<div class="form-group-full">
			    <label for="lname">Address Line 1</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Address Line 1">
			</div>

			<div class="form-group-full">
			    <label for="lname">Address Line 2</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Address Line 2">
			</div>

			 <div class="form-group mr1">
			    <label for="lname">Suburb</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Suburb">
			</div>

			<div class="form-group-half ml1 mr1">
			    <label for="lname">Postcode</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your Postcode">
			</div>

			<div class="form-group-half ml1">
			    <label for="lname">State</label>
			    <input type="text" id="lname" name="lastname" placeholder="Your State">
			</div>
		    
		  <hr class="divider">
		  <h3 class="common-heading">Joining 1</h3>
		  <div class="form-group mr1">
			    <label for="lname">Number of Sheep</label>
			    <input type="text" id="lname" name="lastname" placeholder="">
			</div>

			<div class="form-group ml1 ">
			    <label for="lname">Scan Type</label>
			    <div class="radio-wrap">
			   <input type="radio" id="test1" name="radio-group" checked>
				<label for="test1">Wet/Dry</label>
			  
			  
			    <input type="radio" id="test2" name="radio-group">
			    <label for="test2">Multiples</label>
 
 			</div>
			</div>

		<h3 class="common-heading">Roms In/Out</h3>
			<div class="form-group mr1 roam">
			    <label for="lname">Roms In Date</label>
			    <input type="text" id="" class="" name="lastname" placeholder="Your Roms In Date">
			</div>

			<div class="form-group ml1 roam">
			    <label for="lname">Roms Out Date</label>
			    <input type="text" id="" class="" name="lastname" placeholder="Your Roms Out Date">
			</div>
			<hr>
			<div class="add-btn">
				<button type="button" value="addjoining">+ Add Joining</button>
			</div>
			<hr>
			<div class="wrap4">
			<div class="form-group mr1 roam">
			    <label for="lname">Unavailable Dates</label>
			    <input type="text" id="" class="" name="lastname" placeholder="Your Roms In Date">
			</div>
			<div class="form-group ml1 ">
			    <label for="lname">Do you require EID</label>
			    <div class="radio-wrap">
			   <!-- <input type="checkbox" name="gender" value="wet" checked>Yes
  				<input type="checkbox" name="gender" value="multiple"> No -->
  				<label class="container2">Yes
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container2">No
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
  				</div>
			</div>
			

			<div class="form-group-full">
			    <label for="lname">Notes</label>
			    <textarea rows="10" cols="50"></textarea>
			</div>
			</div>
			<div class="submit-btn">
		    <input type="submit" value="Submit">
		    </div>
		  </form>
</div>
	</div>