<appheader></appheader>
<appsidebar></appsidebar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Dashboard<small>Welcome to dashboard</small></h1>
        <ol class="breadcrumb">
            <li><a routerLink="/dashboard" ><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="_session?.user_type=='Admin'">
                <div class="info-box">
                    <a href="" routerLink="/clients/list">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-user-circle"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Clients</span>
                            <span class="info-box-number">{{ clients }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </a>
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="_session?.user_type=='Admin'">
                <div class="info-box">
                    <a href="" routerLink="/scanner/list">
                        <span class="info-box-icon bg-red"><i class="fa fa-user-circle-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Scanners</span>
                            <span class="info-box-number">{{ scanners }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </a>
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="_session?.user_type=='Admin'">
                <div class="info-box">
                    <a href="" routerLink="/admin/list">
                        <span class="info-box-icon bg-green"><i class="fa fa-user-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Admins</span>
                            <span class="info-box-number">{{ admins }}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </a>
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <a href="" routerLink="/booking/list">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-ticket"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Bookings</span>
                            <span class="info-box-number">{{ bookings }}</span>
                        </div>
                    </a>
                    <!-- /.info-box-content -->
                </div>
              <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<appfooter></appfooter>